#
# This file allows the asdf tooling version manager to transparently
# use the expected tool versions for this repository.
# See: https://asdf-vm.com/manage/configuration.html
#

nodejs 24.15.0
pnpm 11.0.4
