#
# This file allows the asdf tooling version manager to transparently
# use the expected tool versions for this repository.
# See: https://asdf-vm.com/manage/configuration.html
#

nodejs 20.18.2
pnpm 8.15.8
