node_modules
package-lock.json
yarn.lock

# Next.js
.next/
dist/
next-env.d.ts

.DS_Store
.cache
.env
.vercel
.output
.vinxi

/build/
/api/
/server/build
/public/build
.vinxi
# Sentry Config File
.env.sentry-build-plugin
/test-results/
/blob-report/

# Playwright
test-results/
playwright-report/
playwright/.cache/
playwright/.auth/
.env.test.local
