# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Next.js
.next/
next-env.d.ts

# Environment variable files; we keep our environment variables on Vercel
.env*

# Vercel
.vercel

# Sentry
.sentryclirc
.env*.local
