@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-slate-900;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply rounded-lg bg-slate-800;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-700;
}

#modals {
  @apply text-sm text-slate-400;
}

:focus-visible {
  outline-color: white;
}
