# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules/

# TypeScript
*.tsbuildinfo

# Code editors and IDEs
.idea/
*.iml
.vscode/

# Builds
.turbo/

# tanstack
.nitro
.tanstack
.output
.vinxi
node_modules
.DS_Store
dist
dist-ssr
*.local
