
/*
  * Shiki syntax highlighting for Docs, Blog, Patterns
  * Docs: https://github.com/shikijs/shiki/blob/main/docs/themes.md
  */
:root {
   --shiki-color-text: #e2e8f0;
   --shiki-color-background: #0f172a;
   --shiki-token-constant: #2dd4bf;
   --shiki-token-string: #7dd3fc;
   --shiki-token-comment: #94a3b8;
   --shiki-token-keyword: #ffb74f;
   --shiki-token-parameter: #e45649;
   --shiki-token-function: #818cf8;
   --shiki-token-string-expression: var(--shiki-token-string);
   --shiki-token-punctuation: #ffb74f;
   --shiki-token-link: #4078f2;
}

pre.shiki {
  margin: 1.5rem 0;
  padding: 2rem;
  position: relative;
  white-space: pre-wrap;
  font-size: 0.8rem;
  box-shadow: rgb(0 0 0 / 30%) 0px 5px 25px -10px;
}

pre.shiki .line {
  /* min-height: 1em; */
}

pre.shiki .language-id {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-weight: 600;
  letter-spacing: -0.4px;
  padding: 0.2rem 0.5rem;
  font-size: 0.7rem;
  background: #1e293b;
  border-radius: 4px;
}

pre.shiki .error,
pre.shiki .error-behind {
  display: flex;
  flex-direction: column;
  background: rgba(255, 0, 0, 0.2);
  border-left: 4px solid rgb(145, 27, 27, 0.6);
  padding-left: 0.5rem;
  margin: 0.5rem 0;
}

pre.twoslash data-lsp {
  border-color: #64748B !important;
}

pre.twoslash:hover data-lsp {
  text-decoration: underline;
}

pre.twoslash data-lsp:hover::before {
  content: attr(lsp);
  position: absolute;
  transform: translate(0, 1rem);
  

  background-color: #1E293B;
  color: #fff;
  text-align: left;
  padding: 8px 12px;
  border-radius: 6px;
  font-family: "JetBrains Mono", Menlo, Monaco, Consolas, Courier New,
    monospace;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  font-size: 12px;
  white-space: pre-wrap;
  z-index: 100;
}

pre .arrow {
  /* Transparent background */
  background-color: #1E293B;
  position: relative;
  top: -5px;
  margin-left: 0.1rem;
  /* Edges */
  /* border-left: 1px solid #eee;
  border-top: 1px solid #eee; */
  transform: translateY(25%) rotate(45deg);
  /* Size */
  height: 8px;
  width: 8px;
}
pre .popover {
  margin-bottom: 10px;
  background-color: #1E293B;
  display: inline-block;
  padding: 0 1rem 0.4rem 1rem;
  margin-top: 10px;
  border-radius: 6px;
}