@import url('https://rsms.me/inter/inter.css');

html, body, button, input { font-family: 'Inter', sans-serif; color: #222631  }

@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

:root {
  --light-grey: #86909a;
  --dark-grey: #565e66;

  --blue-left: #17273b;
  --blue-right: #18435c;

  --cream: #f9f9f1;
}

body, button {
  margin: 0;
}

input {
  height: 40px;
  width: 300px;
  padding: 5px 12px;
  box-sizing: border-box;

  background: #fff;
  border-radius: 2px;
  border: 1px solid #eee;
  transition: all .3s;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05), 0 1px 3px rgba(0, 0, 0, 0.03);
}

input:focus, textarea:focus {
  outline: none;
  border-color: gray;
}

button, .button {
  padding: 12px 14px 11px;
  background-color: #2F6D9Dee;
  text-decoration: none;
  color: white;
  border: 1px solid transparent;
  border-radius: 2px;
  transition: all .3s;
}

.button--outline {
  background-color: transparent;
  border: 1px solid #2F6D9D99;
  color: var(--blue-right);
}

button:hover, .button:hover {
  cursor: pointer;
  background-color: gray;
  background-color: #2F6D9Dff;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
  color: #fff !important;
}

button:focus, .button:focus {
  outline: none;
  background-color: #2F6D9Dff;
}


a {
  color: #2F77AF;
}

.text-center {
  text-align: center;
}

p {
  line-height: 1.6;
}

h1 {
  font-size: 60px;
  margin: 20px 0;
  color: #2E3A59;
}

h2 {
  font-size: 2.75rem;
  font-weight: 800;
  color: #2E3A59;
}

h3 {
  font-size: 1.3125rem;
  font-weight: 400;
  margin-bottom: 25px;
}

strong {
  font-weight: 600;
}

h5, .tag {
  color: #184115bb;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  background: #CEECCE;
  border-radius: 3px;
  display: inline-block;
  padding: 3px 7px;
}

h5 {
  margin: 20px 0 18px;
}

h5 + h2 {
  margin-top: .25rem;
}

.nav-dark {
  background: linear-gradient(90deg, var(--blue-left), var(--blue-right));
  border-left: 20px solid #fff;
  border-right: 20px solid #fff;
  color: #fff;
}

h2, .text--blue {
  background: linear-gradient(90deg, var(--blue-left), var(--blue-right));
  background-clip: text;
  color: transparent;
}

.nav-dark a {
  color: #fff;
}

.hero-dark {
  padding: 100px 0 0;
  background: linear-gradient(90deg, var(--blue-left), var(--blue-right));
  box-shadow: inset 0 0 0 20px #fff;
  position: relative;
  color: #fff;
}

.hero-dark:before {
  content: "";
  display: block;
  background: linear-gradient(90deg, var(--blue-left), var(--blue-right));
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-left: 20px solid #fff;
  border-right: 20px solid #fff;
}

.hero-dark h1 {
  color: transparent;
  background: linear-gradient(90deg, #fff, #f5f5f5);
  color: #fff;
  background-clip: text;
}
