.content {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
  justify-content: center;
  margin-top: 100px;
  font-size: 20px;
}

.content > div {
  text-align: center;
}

.content > div + div {
  margin-top: 20px;
}

.content > img {
  margin-bottom: 20px;
}

@media only screen and (max-width: 1000px) {
  .logo {
    width: 80%;
  }
  .content {
      padding: 10px 40px;
      font-size: 20px;

      display: flex;
      flex-flow: column;
  }

  .form {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .submit {
    width: 100%;
  }
}