/** Reset **/
@import url('https://rsms.me/inter/inter.css');

@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

*, *::before, *::after {
  box-sizing: border-box;
}
* { margin: 0; }
html, body {
	min-height: 100vh;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
button, a { cursor: pointer }
input,
button {
	font-size: inherit;
	font-family: inherit;
}
button:focus:not(:focus-visible) {
	outline: none;
}
