name: Shared UI

on:
  push:
    branches: [main]
    paths:
      - "ui/packages/components/**"
  pull_request:
    paths:
      - "ui/packages/components/**"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: "10.18.1"
      - uses: actions/setup-node@v4
        with:
          node-version: "20"
      - name: Install
        run: pnpm install --frozen-lockfile --prod
        working-directory: ui/packages/components
      - name: Lint
        run: pnpm lint
        working-directory: ui/packages/components
      - name: Test
        run: pnpm test
        working-directory: ui/packages/components
