name: Dev Server UI

on:
  push:
    branches: [main]
    paths:
      - "ui/**"
  pull_request:
    paths:
      - "ui/**"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4.0.0
        with:
          version: "10.18.2"
      - uses: actions/setup-node@v4
        with:
          node-version: "20"
      - name: Install
        run: pnpm install --frozen-lockfile
        working-directory: ui/apps/dev-server-ui
      - name: Type check
        run: pnpm type-check
        working-directory: ui/apps/dev-server-ui
