name: SDK E2E Tests

on:
  push:
    branches: [main]
    paths-ignore:
      - "ui/**"
  pull_request:
    paths-ignore:
      - "ui/**"

jobs:
  ts:
    name: TS SDK Tests
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.22"
      - uses: actions/setup-node@v4
        with:
          node-version: "18"
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 8.15.8
      - name: Build UI
        run: make build-ui
      - name: Build dev serve
        run: |
          go build -o ./inngest-bin ./cmd/main.go
      - name: Run E2E tests
        run: |
          cd ./tests/js
          pnpm install
          pnpm dev &
          sleep 5
          cd ../../
          echo "Running dev server"
          nohup ./inngest-bin dev --no-discovery 2> /tmp/dev-output.txt &
          echo "Ran dev server"
          sleep 5
          curl http://127.0.0.1:8288/dev > /dev/null 2> /dev/null
          go test ./tests -v
        env:
          INNGEST_SIGNING_KEY: test
          API_URL: http://127.0.0.1:8288
          SDK_URL: http://127.0.0.1:3000/api/inngest
          ENABLE_TEST_API: true
  golang:
    name: Go SDK Tests
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.22"
      - name: Build dev server
        run: |
          go build -o ./inngest-bin ./cmd/main.go
      - name: Run E2E tests
        run: |
          echo "Running dev server"
          nohup ./inngest-bin dev --no-discovery 2> /tmp/dev-output.txt &
          echo "Ran dev server"
          sleep 5
          curl http://127.0.0.1:8288/dev > /dev/null 2> /dev/null
          go test ./tests/golang -v -count=1
        env:
          API_URL: http://127.0.0.1:8288
          INNGEST_EVENT_KEY: test
          INNGEST_SIGNING_KEY: 7468697320697320612074657374206b6579
          INNGEST_DEV: http://127.0.0.1:8288
          ENABLE_TEST_API: true
