name: E2E

on:
  push:
    branches: [main]
  pull_request:

jobs:
  install:
    name: E2E tests
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18
      - name: Build dev serve
        run: |
          go build -o ./inngest-bin ./cmd/main.go
      - name: Run E2E tests
        run: |
          cd ./tests/js
          yarn install
          yarn dev &
          sleep 5
          cd ../../
          echo "Running dev server"
          nohup ./inngest-bin dev &
          echo "Ran dev server"
          sleep 5
          curl http://127.0.0.1:8288/dev
          INNGEST_SIGNING_KEY=test API_URL=http://127.0.0.1:8288 SDK_URL=http://127.0.0.1:3000/api/inngest go test ./tests -v
