name: Go

on:
  push:
    branches: [main]
    paths-ignore:
      - "ui/**"
  pull_request:
    paths-ignore:
      - "ui/**"

jobs:
  golangci:
    name: Lint
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'
      - name: Lint
        run: |
          curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s v2.1.2
          ./bin/golangci-lint run --verbose

  test-linux-race:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        experimentalKeyQueues: [ false, true ]
    runs-on: ${{ matrix.os }}
    name: "Test / OS: ${{ matrix.os }}, key-queues: ${{ matrix.experimentalKeyQueues }}"
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: '1.24'

      - name: Test
        run: |
          go test -v $(find . -iname "*_test.go" | xargs -I {} dirname {} | uniq | grep -v "./tests") -race -count=1
        env:
          TEST_MODE: true
          EXPERIMENTAL_KEY_QUEUES_ENABLE: "${{ matrix.experimentalKeyQueues }}"
