name: UI

on:
  push:
    branches: [main]
    paths:
      - "ui/**"
  pull_request:
    paths:
      - "ui/**"

jobs:
  # A flag we can use to warn us of critical known issues in the chain. This
  # should be caught in a number of places (including GitHub as CVEs), but we
  # also perform a check here.
  audit:
    name: pnpm security audit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4.0.0
        with:
          version: "10.18.2"
      - uses: actions/setup-node@v4
        with:
          node-version: "20"
      # Optional dependencies are packages like frameworks, which are actually
      # peer dependencies and are not installed in every usage, so we omit them
      # here and only check what's shipped directly by us.
      - run: pnpm audit --audit-level=critical --prod --no-optional --ignore-registry-errors
        working-directory: ui
              



