name: Test UI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v2.4.0
        with:
          version: "8.6.2"
      - uses: actions/setup-node@v3
        with:
          node-version: "18"
      - run: pnpm install
        working-directory: dev-server-ui
      - run: pnpm test
        working-directory: dev-server-ui
